PORT=5000
MONGO_URI=mongodb://dixitabhinav788_db_user:Farminsta456@ac-33vcshj-shard-00-00.clo6scv.mongodb.net:27017,ac-33vcshj-shard-00-01.clo6scv.mongodb.net:27017,ac-33vcshj-shard-00-02.clo6scv.mongodb.net:27017/farminstaDB?ssl=true&replicaSet=atlas-btf9ko-shard-0&authSource=admin&appName=Cluster0
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret